<nav class="navbar-expand-sm nav1" id="top-header" style="padding: 15px 0px; background-color: white; font-family: 'Montserrat', sans-serif; font-weight: 400;  border-bottom: 2px solid #E4E7ED; border-top: 3px solid #D10024;">
    <div class="container-fluid" style=" width: 60%; margin: 0 10%;">
        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                @Html.ActionLink("Trang Chủ", "Index", "Home")
            </li>
            <li class="nav-item">
                @Html.ActionLink("Các sản phẩm", "Index", "Shop")
            </li>
            
            @if (Session["UserID"] != null && ShopThoiTrang.Controllers.DataController.getUserByID((int)Session["UserID"]).is_Admin==true)
            {
                <li class="nav-item">
                    @Html.ActionLink("Admin page", "index", "admin")
                </li>
            }
        </ul>
    </div>

</nav>

<nav id="navigation" class="nav2">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li class="nav-item">@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
                <li class="nav-item">@Html.ActionLink("Các sản phẩm", "Index", "Shop")</li>
                @if (Session["UserID"] != null && ShopThoiTrang.Controllers.DataController.getUserByID((int)Session["UserID"]).is_Admin == true)
                {
                    <li class="nav-item">
                        @Html.ActionLink("Admin page", "index", "admin")
                    </li>
                }
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<style>
    a {
        text-decoration: none !important;
    }
</style>
