@model dynamic
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}
<div class="container position-relative pt-4">
    <!-- Outer Row -->
    <div class="row justify-content-center container">

        <div class="col-xl-10 col-lg-12 col-md-9 justify-content-center">

            <div class="card o-hidden border-0 shadow-lg my-1">
                <div class="card-body p-0">
                    <div class="row">

                        <div class="col-lg-10" style="margin: 0 auto">
                            <div class="p-4">
                                <div class="text-center">
                                    <h1 class="h3 mb-4 text-gray-800 text-center">Chi tiết nhãn sản phẩm</h1>
                                </div>
                                <form method="post" id="myForm">
                                    <div class="form-group row">

                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <p>Mã:</p>
                                            <input type="text" class="form-control form-control-user"
                                                   value="@ViewBag.tag.TagID" disabled name="TagID">
                                        </div>
                                        <div class="col-sm-6">
                                            <p>Tên:</p>
                                            <input required type="text" class="form-control form-control-user"
                                                   value="@ViewBag.tag.TagName" disabled name="TagName">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <p>Danh sách sản phẩm:</p>
                                        <div class="panel-default" style="border:1px solid lightgray">
                                            <div class="center-block fix-width scroll-inner">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Mã</th>
                                                            <th>Tên</th>
                                                            <th>Giá</th>
                                                            <th>Tình trạng</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var product in ViewBag.products)
                                                        {
                                                            <tr onclick="window.location.href = '/Admin/Product/Details/@product.ProductID'">
                                                                <th>@product.ProductID</th>
                                                                <td>@product.ProductName</td>
                                                                <td>@product.UnitPrice.ToString("#,##0 VND")</td>
                                                                <td>@(product.active ? "Còn bán" : "Ngừng bán")</td>
                                                            </tr>
                                                        }

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12 mb-3 mb-sm-0" style="margin:auto">
                                            <a href="/Admin/Tag/Edit/@ViewBag.tag.TagID" class="btn btn-primary btn-user" style="width:49%">Sửa</a>
                                            <a href="/Admin/Tag/Delete/@ViewBag.tag.TagID" class="btn btn-danger btn-user" style="width:49%">Xóa</a>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="back">
                            <a href="@Url.Action("Index","Tag")" class="text-black"><i style="font-size:1rem; " class="fa">&#xf060;</i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>


