@model PagedList.IPagedList<Product>
@using PagedList;
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- ASIDE -->
            <div id="aside" class="col-md-3">
                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Loại sản phẩm</h3>
                    <div class="checkbox-filter">

                        <div class="input-checkbox">
                            <input type="checkbox" id="category-1">
                            <label for="category-1">
                                <span></span>
                                Áo
                                <small>(120)</small>
                            </label>
                        </div>

                        <div class="input-checkbox">
                            <input type="checkbox" id="category-2">
                            <label for="category-2">
                                <span></span>
                                Quần
                                <small>(740)</small>
                            </label>
                        </div>

                        <div class="input-checkbox">
                            <input type="checkbox" id="category-3">
                            <label for="category-3">
                                <span></span>
                                Phụ kiện
                                <small>(1450)</small>
                            </label>
                        </div>


                    </div>
                </div>
                <!-- /aside Widget -->
                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Mức giá</h3>
                    <div class="price-filter">
                        <div id="price-slider"></div>
                        <div class="input-number price-min">
                            <input id="price-min" type="number">
                            <span class="qty-up">+</span>
                            <span class="qty-down">-</span>
                        </div>
                        <span>-</span>
                        <div class="input-number price-max">
                            <input id="price-max" type="number">
                            <span class="qty-up">+</span>
                            <span class="qty-down">-</span>
                        </div>
                    </div>
                </div>
                <!-- /aside Widget -->
                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Một số sản phẩm mới</h3>
                    @foreach (var product in ViewBag.Products)
                    {
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="@product.Image" alt="">
                            </div>
                            <div class="product-body">
                                @foreach (var category in ViewBag.Categories)
                                {
                                    if (@category.CategoryID == @product.CategoryID)
                                    {
                                        <p class="product-category">@category.CategoryName</p>
                                    }
                                }
                                <h3 class="product-name"><a href="~/Shop/Details/@product.ProductID">@product.ProductName</a></h3>
                                <h4 class="product-price">@product.UnitPrice.ToString("#,##0 VND")</h4>
                            </div>
                        </div>
                    }

                </div>
                <!-- /aside Widget -->
            </div>
            <!-- /ASIDE -->
            <!-- STORE -->
            <div id="store" class="col-md-9">

                <!-- store products -->
                <div class="row">
                    <!-- product -->
                    @foreach (var product in ViewBag.AllProducts)
                    {
                        <div class="col-md-4 col-xs-6">
                            <div class="product">
                                <div class="product-img">
                                    <img src="@product.Image" alt="">
                                    <div class="product-label">
                                        @foreach (var tag in ShopThoiTrang.Controllers.DataController.GetTagsByProductID(product.ProductID))
                                        {
                                            <span class="new" style="text-transform: uppercase;">@tag.TagName</span>
                                        }
                                    </div>
                                </div>
                                <div class="product-body">
                                    @foreach (var category in ViewBag.Categories)
                                    {
                                        if (@category.CategoryID == @product.CategoryID)
                                        {
                                            <p class="product-category" >@category.CategoryName</p>
                                        }
                                    }
                                    <h3 class="product-name"><a href="~/Shop/Details/@product.ProductID">@product.ProductName</a></h3>
                                    <h4 class="product-price">@product.UnitPrice.ToString("#,##0 VND")</h4>
                                    <div class="product-btns">
                                        <button class="quick-view" onclick="location.href='/Shop/Details/@product.ProductID';"><i class="fa fa-eye"></i><span class="tooltipp">Xem chi tiết</span></button>
                                    </div>
                                </div>
                                <div class="add-to-cart">
                                    <button class="add-to-cart-btn" data-product-id="@product.ProductID" data-product-image="@product.Image" data-product-name="@product.ProductName" data-product-price="@product.UnitPrice"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix visible-sm visible-xs"></div>

                    }
                    <!-- /product -->


                </div>
                <!-- /store products -->
                <!-- store bottom filter -->
                <div class="store-filter clearfix">
                    <span class="store-qty">Showing 12-100 products</span>
                    <ul class="store-pagination">
                        @*@Html.PagedListPager(ViewBag.AllProducts, page => Url.Action("Index", new { page }))*@

                        <li class="active">1</li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>
                <!-- /store bottom filter -->
            </div>
            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->